#machine{
  display: block;
  position: absolute;
  left: 200px;/* 12.5em / 200px */
  background-color: #e69900;
  font-family: impact, sans-serif;
  font-size: 12px;/* .075em / 12px */
  color: #000000;
  font-style: oblique;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  letter-spacing: 0px; /* 0em / 0px */
  line-height: 20px; /* 1.25em / 20px */
  width: 800px; /* 50em / 800px */
  height: 600px; /* 37.5em  / 600px*/
  border-radius: 20px; /* 1.25em / 20px */
}

audio.slot_sounds_a{
  visibility: hidden;
}

#top_info{
  display: block;
  position: absolute;
  left: 330px;
}

#coins{
  color: gold;
  display: block;
  position: absolute;
  left: 75px;
  top: 17px;
}

#machine_mid{
  display: block;
  position: absolute;
  left: -20px;/* -1.25em / -20px*/
  top: -30px;/* -1.875em  / -30px*/
}

#machine_bottom{
  display: block;
  position: absolute;
  background-color: black;
  width: 600px;/* 37.5em / 600px*/
  height: 30px;/* 1.875em  / 30px*/
  border: solid white 2px;/* 0.125em / 2px*/
  border-radius: 2px;/* 0.125em / 2px*/
  left: 290px;/* 18.75em / 300px*/
  top: 530px;/* 18.75em / 560px*/
}

p.coins{
  color: white;
}
p.amount{
  display: block;
  position: absolute;
  left: 20px;/* 1.25em / 20px*/
  top: 4px;/* .25em / 4px*/
  color: white;
}

#money{
  display: block;
  position: absolute;
  left: 25px;/* 2.5em / 40px*/
  top: 440px;/* 5em / 80px*/
  width: 110px;/* 8.125em / 130px*/
  height: 50px;/* 28.125em / 450px*/
  background-color: black;
  border-radius: 19px;
  border: groove 10px white;
}

#bet{
  display: block;
  position: absolute;
  left: 5px;/* 1.25em / 20px*/
  width: 100px;/* 6.25em / 100px*/
  height: 20px;/* .25em / 4px*/
  top: 3px;/* .4375em / 7px*/
  border: 2px groove white;
  border-bottom-left-radius: 4px;
  box-shadow: 3px 3px 1.5px #888888;
	text-align: center;
}

#bet > p{
	font-size: 12px;
	display: block;
	position: absolute;
	top: -10px;
	left: 10px;
}

#decrease{
  display: block;
  position: absolute;
  left: 130px;/* 1.25em / 20px*/
  width: 100px;/* 6.25em / 100px*/
  height: 20px;/* .25em / 4px*/
  top: 3px;/* .4375em / 7px*/
  border: 2px groove white;
  border-bottom-left-radius: 4px;
  box-shadow: 3px 3px 1.5px #888888;
}

#decrease > p{
	font-size: 12px;
	display: block;
	position: absolute;
	top: -10px;
	left: 10px;
}

#amount{
  display: block;
  position: absolute;
  left: 245px;/* 1.25em / 20px*/
  width: 100px;/* 6.25em / 100px*/
  height: 20px;/* .25em / 4px*/
  top: 3px;/* .4375em / 7px*/
  border: 2px groove white;
  border-bottom-left-radius: 4px;
  box-shadow: 3px 3px 1.5px #888888;
}
#amount > p{
  text-align: center;
  color: red;
  font-family: 'Orbitron', sans-serif;
  display: block;
  position: absolute;
  top: -13px;
  left: 30px;
}

#max_bet{
  display: block;
  position: absolute;
  left: 370px;/* 1.25em / 20px*/
  width: 100px;/* 6.25em / 100px*/
  height: 20px;/* .25em / 4px*/
  top: 3px;/* .4375em / 7px*/
  border: 2px groove white;
  border-bottom-left-radius: 4px;
  box-shadow: 3px 3px 1.5px #888888;
}

#max_bet > p{
	font-size: 12px;
	display: block;
	position: absolute;
	top: -10px;
	left: 25px;
}

#spin_wheel{
  display: block;
  position: absolute;
  top: 3px;/* .25em / 4px*/
  right: 10px;/* 1.25em / 20px*/
  width: 100px;
  height: 20px;
  border: white groove 2px;/* .125em / 2px*/
  border-bottom-left-radius: 4px;/* .125em / 2px*/
  box-shadow: 3px 3px 1.5px #888888;
}
/*Make color of #spin_wheel text turn red when hovering over it
 and make it go gold when you press it*/

#display_body{
  display: block;
  position: absolute;
  background-color: white;
  left: 160px;/* 10em / 160px*/
  top: 100px;/* 6.25em / 100px*/
  width: 490px;/* 30.625em / 490px*/
  height: 400px;/* 25em / 400px*/
  border: black solid 5px;/* .3125em / 5px*/
  border-radius: 10px;/* .625em / 10px*/
}

.poke {
  height: 100px;/* 6.25em / 100px*/
  width: 100px;/* 6.25em / 100px*/
  display: inline-block;
  margin-right: 37px;/* 2.3125em / 37px*/
  margin-top: 20px;/* 1.25em / 20px*/
  margin-left: 18px;/* 1.125em / 18px*/
}

.poke0 {
  background: url('http://vignette3.wikia.nocookie.net/poke5forum/images/8/89/Pikachu.jpg/revision/latest?cb=20090630145351&path-prefix=de') no-repeat center center;
  background-size: cover;
}

.poke1 {
  background: url('http://vignette1.wikia.nocookie.net/pokeworld/images/1/1f/Torchic_2.png/revision/latest?cb=20120101232321') no-repeat center center;
  background-size: cover;
}

.poke2 {
  background: url('http://assets.pokemon.com/assets/cms2/img/pokedex/full/470.png') no-repeat center center;
  background-size: cover;
}

.poke3 {
  background: url(
 'http://vignette1.wikia.nocookie.net/pokemon/images/f/fd/134Vaporeon.png/revision/latest?cb=20140328210733') no-repeat center center;
  background-size: cover;
}

.poke4 {
  background: url(
 'http://img2.wikia.nocookie.net/__cb20140123204633/pokemon/images/f/fe/136Flareon_BW_anime.png') no-repeat center center;
  background-size: cover;
}

.poke5 {
  background: url(
 'https://lh5.ggpht.com/t_fyoBsaf2faYSKkx9zO5OGLXzNMqbSGy7Y_uJBog90ArDmL3Mj6pVSfJhLD4Kk8FH8=w300') no-repeat center center;
  background-size: cover;
}
